*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head h1{
    color:white ;
    padding-top: 100px;


}
.head button{
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
    margin-top: 15px;
  
}
.head p {
    color: white;
    padding-top: 10px;
}
